# Object files
*.o
*.ko
*.to

# GCOV files
*.gcda
*.gcno

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# E3 specific
test
test.cov
coverage/
